<div class="profile">
  <div class="friends-list">
    <h3>Pending Friend Requests</h3>
    <%= render_friend_requests(friend_requests) %>
  </div>
  <div class="friends-list">
    <h4>Your Friends</h4>
    <%= render_friends(friends) %>
  </div>
</div>
