<li class="user flex row flex-wrap">
    Name: <%= user.name %>
    <div class="profile-link">
      <button type="button" name="button"><%= link_to 'See Profile',  user_path(user), class: 'profile-link' %></button>
      <%= render_invite_link(current_user, user, "invite-friend-form") %>
    </div>

</li>
